<% provide(:title, "Sign in") %>


<div class="row">
  <div class="span9 offset3">
  	<h4>Sign in</h4>	
  </div>
  <div class="span9 offset3">
    <%= form_for(:session, url: sessions_path, :html => { :class => 'form-horizontal' }) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br /><br />
      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>
	
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>