<aside class="span3">
	    <section>
	    	<% if signed_in? %>
		      <h4>
		        <%= gravatar_for current_user %>
		        <%= current_user.name %>
		      </h4>
		      <div class="row">
		      	<div class="span3">
		      		<h5>Albums</h5>
		      		<% if current_user.video_categories.count == 0 %>
		      			<p>There are no albums, please create.</p>
		      		<% end %>
		      	</div>
		      	
		      	<%= render(current_user.video_categories)%>
		      </div>
		      <h6><%= link_to "New Album", newalbum_path %></h6>
		    <% else %>
		    	<h4>Sign Up</h4>
				<%= render 'users/form'%>    
		    <% end %>	      
	    </section>
    </aside>